model_config_list {
    config {
        name: 'pnet'
        base_path: '/models/pnet/'
        model_platform: 'tensorflow'

        model_version_policy {
            all{}
        }
    }

    config {
        name: 'rnet'
        base_path: '/models/rnet/'
        model_platform: 'tensorflow'

        model_version_policy {
            all{}
        }
    }

    config {
        name: 'onet'
        base_path: '/models/onet/'
        model_platform: 'tensorflow'

        model_version_policy {
            all{}
        }
    }
    
}
